:root {
    --vitro: 'vitro'; --noto-sans: 'noto-sans';
    --main-color: #61FDB4; 
    --sub-color: #2A40CE; --sub-color-030: #60D9F2; --sub-color-020: #87D6E6; --sub-color-010: #85DDEF;
    --point-color: #9D61FD;
    --black: #000; --gray-800: #333; --gray-500: #aaa;
    --bg: #17181A; --white: #fff;
    --text: #E3E3E3; --text-500: #777; --text-010: #DEDEDE; --text-005: #EEE;
    --fs-15: 1.5rem; --fs-16: 1.6rem; --fs-17: 1.7rem; --fs-18: 1.8rem; --fs-20: 2rem; --fs-22: 2.2rem; --fs-42: 4.2rem; --fs-64: 6.4rem;
    --fw-thin: 100; --fw-light: 300; --fw-regular: 400; --fw-medium: 500; --fw-bold: 700;  --fw-black: 800;
    --transition: all 0.3s ease 0s;
}

* {box-sizing: border-box;}

/* html, body */
html {font-size: 62.5%; scroll-behavior: smooth;}
body {font-family: 'noto-sans'; letter-spacing: -0.2em;}

.container {width: 100%; height: 100vh; position: absolute; top: 0; left: 0; z-index: 1;}
section.section {width: 100%; position: relative; z-index: 2; padding: 10em 0 !important; overflow: hidden;}

section {display: flex; justify-content: center; align-items: center;}
.inner {width: 120rem;}

.contents-bg {background-color: var(--bg); border-radius: 2rem; box-shadow: inset -0.2rem -0.3rem 0 rgba(195, 212, 226, 0.06), 0.4rem 0.4rem 3rem rgba(0, 0, 0, 0.8);}

/* font */
.text {padding: 0 10rem; color: var(--text); line-height: 1.5;}
.ls-0 {letter-spacing: 0;}

/* button */
button {cursor: pointer; outline: none; border: none;}

/* input */
textarea {resize: none;}

/* scroll */
body, .scroll {overflow: auto;}
body::-webkit-scrollbar {width: 1.2rem;}
body::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb {background-color: var(--sub-color-020); border-radius: 1rem; background-clip: padding-box; border: .2rem solid transparent;}
body::-webkit-scrollbar-track, .scroll::-webkit-scrollbar-track {background-color: var(--gray-800); border-radius: 10px;}

.scroll::-webkit-scrollbar {width: 1rem;}
.scroll::-webkit-scrollbar-track {background-color: transparent;}

/* animation */
.card-animation:hover {transform: scale(1.2); box-shadow: inset -0.2rem -0.3rem 0 rgba(195, 212, 226, 0.06), 1.5rem 3rem 1rem 0 rgba(0, 0, 0, 0.14);}

@media screen and (max-width: 1280px) {
    html {font-size: 50%;}
    .inner {width: 100rem;}
}

@media screen and (max-width: 1000px) {
    .inner {width: 90rem;}
}