.modalContainer {width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; z-index: 9999; padding: 0 !important; background-color: #00000080; backdrop-filter: blur(.2rem);}

/* viewDetail */
div.viewDetail {width: 80%; height: 80%; position: relative;}
.btn {width: 4rem; height: 4rem; position: absolute; right: 2.6rem; top: 2.6rem;}